:root{
    --color-white:#fff;
    --color-light:#f4f4f4;
    --color-dark:#525252;
    --color-black:#141415;
    --color-primary:#f24e1e;
    --color-primary-light: hsl(14,89%,53%,12%);
    --color-success:#29f5a6;
    --color-warning:#ffce33;
    --transition:all 300ms ease;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 10px;
    background: var(--color-primary-light);
}
::-webkit-scrollbar-thumb{
    background: var(--color-primary);
}
html{
    font-size: 15px;
    scroll-behavior: smooth;
}
body{
    background: var(--color-white);
    color: var(--color-dark);
    max-width: 100vw;
}
h1,h2,h3,h4,h5{
    color: var(--color-black);
    line-height: 1.2;
}
h1{
    font-size:3.8rem ;
}
h2{
    font-size: 2.6rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 0.8rem;
}
p{
    line-height: 1.8rem;
}
.container{
    width: 80%;
    margin: 0 auto;
}
section{
    padding: 10rem 0 7rem;
    max-width: 100vw;
    overflow-x:hidden ;
}

section h1{
    text-align: center;
    display: block;
    margin-bottom: 5rem;
}
img{
    width: 100%;
}
.btn{
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--color-black);
    background:var(--color-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
}
.btn:hover{
    box-shadow: 0 2rem 2rem var(--color-primary-light)
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}

/* NAVBAR */

nav{
    /* background-color: coral; */
    width: 100%;
    height: 5rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-light);
}
nav.show-box-shadow{
    box-shadow: 0 0.6rem 1rem var(--color-primary-light);
    border: none;
}

nav .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 100%;
}

nav button {
    display: none;
}

nav h3{
    color: var(--color-primary);
}
nav .container ul{
    display: flex;
    height: 100%;
}
nav .container ul li a,
nav .container ul li button{
height: 100%;
width: 7rem;
display: flex;
justify-content:center ;
align-items: center;
color: var(--color-black);
position: relative;
transition: var(--transition);
}
nav .container ul li a:hover,
nav .container ul li button:hover{
    color: var(--color-primary);
}
nav .container ul li a.active,
nav .container ul li button.active{
    background:var(--color-primary) ;
    color: var(--color-white);
}
/* effect */
nav::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(35deg, rgba(255, 98, 0, 0.4),transparent);
    transition: 2s;
}
nav:hover::before{
    left: 100%;
}

/* *****************  LANDING PAGE  ********************** */
section.landing{
    display: grid;
    place-items: center;
    position:relative;
    top: 5rem;
    padding-bottom: 14rem;
    background: var(--color-light);

}
section.landing .container{
    display: grid;
    grid-template-columns: 5rem auto 26rem;
    gap: 2rem;
}

section.landing .socials{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}

section.landing .socials a{
    font-size: 1.1rem;
    background: var(--color-light);
    color: var(--color-dark);
    padding: 0.3rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

section.landing .socials a:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

section.landing .info h1{
    text-align: left;
    margin: 0;
}

section.landing h3{
    margin: 2.4rem 0 1rem;
}

section.landing .info p{
    width: 35rem;
}

section.landing .profile-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .profile-area .outer-circle{
 width: 26rem;
 height: 26rem;
 border: 1px solid var(--color-primary);
 border-radius:50% ;
 position: relative;
 /* background: blue; */
 animation: move 30s linear infinite;
}

@keyframes move{
    to{
       transform: rotate(360deg); 
    }
}

section.landing .profile-area .outer-circle span{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background:var(--color-white);
    color:  var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem var(--color-primary-light) ;
}
section.landing .profile-area .outer-circle span:nth-child(1){
    left: calc(50% - 2rem);
    top: -2rem;
}
section.landing .profile-area .outer-circle span:nth-child(2){
    right: -2rem;
    top: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle span:nth-child(3){
    left: -2rem;
    top: calc(50% - 2rem);
}
section.landing .profile-area .outer-circle span:nth-child(4){
    bottom: -2rem;
    left: calc(50% - 2rem);
}

section.landing .profile-area .inner-circle{
/* display: none; */
   position: absolute;
   width: 18rem;
   height: 18rem;
   border-radius: 50%;
   overflow: hidden;
   cursor: none;
}
 
/* about section */



section.about .container{
    display: grid;
    grid-template-columns: 26rem auto;
    gap: 5rem;
}
section.about p{
    margin-bottom: 1rem;
}

section.about .container .read-more-content{
    display: none;
}
/* js toggle */
section.about .container .read-more-content.show-content{
    display:block ;
}
section.about .container .read-more{
    display: block;
    margin: 1rem 0 2rem;
    color: var(--color-primary);
    cursor: pointer;
}

section.about .container .read-more:hover{
    text-decoration: underline;
}



/* github stats */

section.services{
    background: var(--color-light);
}
section.services .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
   
}

section.services .container .service{
    /* border: 1px solid blue; */
    background: var(--color-white);
    padding:3rem 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: default;
    transition: var(--transition);
}

section.services .container .service:hover{
    box-shadow:0 3rem 3rem var(--color-primary-light) ;
}
/* projects */

/* section.recent-work{
    background: var(--color-light);
} */
section.recent-work .container h4  {
text-align: left;
margin: 3rem 0 1rem;
width: 65%;

}
section.recent-work .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
section.recent-work .projects .project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.recent-work .projects .project .action{
    display: flex;
    gap: 2rem;

}
section.recent-work .projects .project .action a{
    color: var(--color-primary);
}
section.recent-work .projects .project .action a>i:hover{
    text-decoration: underline;
}

/* contact section */

section.contact{
    background: url('./resources/2.webp')no-repeat center center/cover;
    padding: 0;
    max-width: 100vw;
}
section.contact .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    padding: 10rem 0 7rem;
}
section.contact .container{
    width: 40%;
}

section.contact .container h1{
    margin: 0;
    color: var(--color-white);
}

section.contact .container p{
    text-align: center;
    color: var(--color-white);
    opacity: 0.8;
    margin-top: 0.5rem;
}
section.contact form{
    margin-top: 3rem;
}
section.contact form textarea{
    height: 10rem;
    resize: none;
}
section.contact form input, section.contact form textarea{
    display: block;
    width: 100%;
    margin:0.5rem 0;
    padding: 1.6rem;
    border: 1px solid var(--color-white);
    background: transparent;
    color: var(--color-white);
    transition: var(--transition);
}
section.contact form input:focus, section.contact form textarea:focus{
    background: var(--color-white);
    color: var(--color-black);
}
section.contact form input::placeholder, section.contact form textarea::placeholder{
    color: var(--color-white);
}
section.contact form .btn{
    width: 14rem;
    border: none;
    background: var(--color-white);
    color: var(--color-black);
    margin: 2rem auto 0;

}
section.contact form .btn:hover{
    background:var(--color-primary) ;
    cursor: pointer;
    color: var(--color-white);
}

.flex>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* footer */
footer{
    padding-top:0rem ;
}
footer .copyright{
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    margin-top: 0rem;
    padding: 1rem 0;
    font-size: 0.8rem;
}

/* skills section */
.inner{
padding-top: 3rem;
background: var(--color-light);
}
.header{
    text-align: center;
    /* color: #000000; */
    padding: .2rem;
    position: relative;
}
/* .header::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color:var(--color-primary);
} */
.inner .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;

}
.skill-box{
    padding: 1rem;
    color: var(--color-dark);
    cursor: pointer;
}
.skill-box:hover >.skill-title::after, 
.skill-box:hover >.skill-title::before{
    width: 35px;
}
.skill-box:hover .img{
    transform:translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius:   2px 0 0 2px ;
    background-color:var(--color-primary);
    transition: .5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius:0 2px 2px 0;
    background-color: var(--color-primary);
    transition: .5s;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: var(--color-dark);
    border-radius: 45px 0 0 45px;
}
.skill-title h3{

margin-top: 0.5rem;
}
.skill-icon{
width: 50px;
z-index:1 ;
}
/* media queries */
@media  screen and (max-width: 1207px){
    .flex>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    section.services .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
       
    }
/* home section */
section.landing{
    margin-top: -4rem;
    padding-bottom: 0rem;
    max-width:100vw;
    overflow-x: hidden;
}
section.landing .container{
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50%;
    text-align: center;
    row-gap: 5rem;
}
section.landing .container .socials{
    display:none;
}
section.landing .container .info{
    width: 90%;
    margin: 0 auto;
}
section.landing .container .info h1{
    text-align: center;
}
section.landing .container .info p{
    margin: 0 auto;
    width: 92%;
}
section.landing .container .profile-area{
    grid-row: 1;
    width: 98%;
    margin: 0 auto;
}
section.landing .container .outer-circle{
    width: 16rem;
    height: 16rem;
}
section.landing .container .inner-circle{
    width: 10rem;
    height: 10rem;
}
section.landing .container .outer-circle span{
    width: 3rem;
    height: 3rem;
}
section.landing .profile-area .outer-circle span:nth-child(1){
    left: calc(50% - 1.5rem);
    top: -1.5rem;
}
section.landing .profile-area .outer-circle span:nth-child(2){
    right: -1.5rem;
    top: calc(50% - 1.5rem);
}
section.landing .profile-area .outer-circle span:nth-child(3){
    left: -1.5rem;
    top: calc(50% - 1.5rem);
}
section.landing .profile-area .outer-circle span:nth-child(4){
    bottom: -1.5rem;
    left: calc(50% - 1.5rem);
}
/* navbar*/
nav h3{
    margin-left: 1rem;
}
nav .container{
    width: 100%;
}
/* skills section */
.inner .container{
    width: 99%;
   

}
}
@media  screen and (max-width: 786px){
    h1{
        font-size:2.2rem ;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1rem;
    }
    h5{
        font-size: 0.68rem;
    }
    .container{
        width: 94%;
    }
    /* navbar */
   
    nav h3{
        margin-left: 1rem;
    }
    nav .container{
        width: 100%;
    }
    nav .container ul{
        position: fixed;
        top: 0;
        flex-direction: column;
        z-index: 3;
        width: 16rem;
        height: 100vh;
        background: var(--color-white) ;
        box-shadow:1rem 0 2rem var(--color-primary-light) ;
        display: none;
    }
    nav ul li{
        height: 4.6rem;
        width: 100%;
    }
    nav .container ul li a{
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }
    nav .container ul li a:hover{
        padding-left: 3rem;
    }
    nav button{
        display: inline-block;
        cursor: pointer;
        background: transparent;
        color: var(--color-black);
        margin-right: 1rem;
    }
    nav button#close-btn{
        display: none;
    }
    /* home/landing page */
   
    /* about section */
    section.about .container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }
    
    /* skill section */
    .inner .container{
        width: 99%;
        grid-template-columns: repeat(2,1fr);
        padding:2rem 50px ;

    }
    /* services section */
    section.services .container{
        grid-template-columns: 1fr;

    }
    /* portfolio section */
    section.recent-work .container .projects{ 
        grid-template-columns: 1fr;

    }
    section.recent-work .container h1{
        width: 94vw;
        margin: 1.4rem 0 1rem;
    }
    /* lets talk */
    section.contact .container{
        width: 94vw;
    }
    section.contact .container p{
        width: 80vw;
        margin: 0.5rem auto 0;
    }
    
}